

div#subca{
	display: grid;
	place-items: center;
}

h1#etiqueta{
	font-family: Arial;
	font-size: 80px;
	color: #080909;
}

div#botonA{
	background-color: #ed1b24;
}

div#botonB{
	background-color: #ffde17;
}

div#botonC{
	background-color: #3d97f8;
}

div#botonD{
	background-color: #01a14b;
}
.div{
	display: table;
	text-align: center;
	border-radius: 10px;
}
h1.zona{
	display: table-cell;
	font-family: Arial;
	font-size: 5rem;
	vertical-align: middle;
	color: #080909;
}



@media(min-width:1204px){
	div#grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 100px;
	gap: 2em;
	grid-template-rows: 10em;
}
	body{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: 80%;
}
}
/*lg*/

@media(max-width:1204px) and (min-width:870px){
	div#grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 150px 150px;
	gap: 3em;
}

}
/*md*/

@media(max-width:869px)and (min-width:414px){
div#grid{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	row-gap: 2em;
}

}
/*sm*/


@media(max-width:413px)and (min-width:10px){
	div#grid{
	display: grid;
	row-gap: 2em;
}
	body{
	display: grid;
	grid-template-columns: 100%;

}	
	.div{

	}
	h1.zona{
	display: table-cell;
	font-family: Arial;
	font-size: 3rem;
	vertical-align: middle;
	
	h1#etiqueta.feliz{
	font-family: Arial;
	font-size: 3em;
	color: #080909;
	}
}


}
/*------------------------------------*/
/*------------------------------------*/

.div:hover{
	border: 1px solid black;
	transition: 0.05s
}
